#crop-n-resize .resize-container {
    position: absolute;
    display: inline-block;
    cursor: move;
    margin: 0 auto;
    left: 0px;
	top: 0px;
}

#crop-n-resize .resize-container img {
    display: block
}


#crop-n-resize .component {
	position: relative;
	background: blue;
	padding: 0;
	box-shadow: 0px 0px 0px 4px #49708A;	
	overflow: hidden;
	margin: 0 auto;
	box-sizing: border-box;
}


#crop-n-resize .overlay {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -100px;
	margin-top: -100px;
	z-index: 999;
	width: 200px;
	height: 200px;
    border: solid 2px rgba(222,60,80,.9);
	box-sizing: border-box;
	pointer-events: none;
	overflow: hidden;
}

#crop-n-resize .cnr-input {
	display: none;
}

#crop-n-resize .cnr-label {
	text-align: center;
	font-size: 21px;
	display: block;
	margin:auto;
}
